@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@inject IHtmlLocalizer<CurriculumManagerResource> L
@model Tlu.CurriculumManager.Web.Pages.Faculties.IndexModel

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Faculties/index.js" />
    </abp-script-bundle>
}

<abp-card>
    <abp-card-header>

        <abp-row>
            <abp-column size-md="_6">
                <h4>@L["Faculties"]</h4>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewFacultyButton" text="@L["New"].Value" icon="plus" button-type="Dark" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <table class="table table-striped table-bordered" id="FacultiesTable">
            <thead>
                <tr>
                    <th>@L["ID"]</th>
                    <th>@L["Name"]</th>
                    <th>@L["Command"]</th>
                </tr>
            </thead>
        </table>
    </abp-card-body>
</abp-card>
