@page
@model Tlu.CurriculumManager.Web.Pages.Curriculums.DetailModalModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<CurriculumManagerResource> L
@{
    Layout = null;
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Curriculums/index.js" />
    </abp-script-bundle>
}
@{
    var subjectGroups = Model.SubjectGroupReports;
}
<abp-modal class="modal-detail">
    <abp-modal-header title="@(Model.Curriculum.Name) - @(Model.Curriculum.SchoolYear.Name)"></abp-modal-header>
    <abp-modal-body>
        <div class="row">
            <div class="col-md-12"><a href="/api/controller/curriculums/exportPDF/@(Model.Curriculum.Id)" class="btn btn-dark float-right">Xuất PDF</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th>Mã học phần</th>
                                <th>Tên học phần</th>
                                <th>Số tín chỉ</th>
                                <th>Điều kiện tiên quyết</th>
                                <th>Số giờ học</th>
                                <th>Hệ số</th>
                            </tr>
                            @foreach (var subjectGroup in subjectGroups)
                            {
                                @if (subjectGroup.Childrens.Count <= 0 && subjectGroup.Parent == null)
                                {
                                    <tr>
                                        <td colspan="@(!string.IsNullOrEmpty(subjectGroup.Note) ? '6' : '1')">
                                            <b>@(subjectGroup.DisplayOrder). @(subjectGroup.Name)</b>&nbsp;&nbsp;
                                            <i>@(!string.IsNullOrEmpty(subjectGroup.Note) ? subjectGroup.Note : "")</i>
                                        </td>
                                    </tr>
                                    @foreach (var subjectDetail in subjectGroup.SubjectGroupDetails)
                                    {
                                        <tr>
                                            <td style="padding-left: 100px;">@(subjectDetail.Subject.Code)</td>
                                            <td>@(subjectDetail.Subject.Name)</td>
                                            <td>@(subjectDetail.Subject.Unit)</td>
                                            <td>@(subjectDetail.Subject.Condition)</td>
                                            <td>@(subjectDetail.Subject.HoursStudy)</td>
                                            <td>@(subjectDetail.Subject.Coefficient)</td>
                                        </tr>
                                    }
                                }
                                else if (subjectGroup.Parent == null && subjectGroup.Childrens.Count > 0)
                                {
                                    <tr>
                                        <td colspan="@(!string.IsNullOrEmpty(subjectGroup.Note) ? '6' : '1')">
                                            <b>@(subjectGroup.DisplayOrder). @(subjectGroup.Name)</b>
                                            <i>@(!string.IsNullOrEmpty(subjectGroup.Note) ? subjectGroup.Note : "")</i>
                                        </td>
                                    </tr>
                                    @if (subjectGroup.SubjectGroupDetails.Count > 0)
                                    {
                                        @foreach (var subjectDetail in subjectGroup.SubjectGroupDetails)
                                        {
                                            <tr>
                                                <td style="padding-left: 100px;">@(subjectDetail.Subject.Code)</td>
                                                <td>@(subjectDetail.Subject.Name)</td>
                                                <td>@(subjectDetail.Subject.Unit)</td>
                                                <td>@(subjectDetail.Subject.Condition)</td>
                                                <td>@(subjectDetail.Subject.HoursStudy)</td>
                                                <td>@(subjectDetail.Subject.Coefficient)</td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var child in subjectGroup.Childrens)
                                    {
                                        <tr>
                                            <td colspan="@(!string.IsNullOrEmpty(child.Note) ? '6' : '1')" style="padding-left:30px;">
                                                <b>@(subjectGroup.DisplayOrder).@(child.DisplayOrder) @(child.Name)</b>
                                                <i>@(!string.IsNullOrEmpty(child.Note) ? child.Note : "")</i>
                                            </td>
                                        </tr>
                                        @foreach (var subjectDetail in child.SubjectGroupDetails)
                                        {
                                            <tr>
                                                <td style="padding-left: 100px;">@(subjectDetail.Subject.Code)</td>
                                                <td>@(subjectDetail.Subject.Name)</td>
                                                <td>@(subjectDetail.Subject.Unit)</td>
                                                <td>@(subjectDetail.Subject.Condition)</td>
                                                <td>@(subjectDetail.Subject.HoursStudy)</td>
                                                <td>@(subjectDetail.Subject.Coefficient)</td>
                                            </tr>
                                        }

                                        @if (child.Childrens.Count > 0)
                                        {
                                            @foreach (var item in child.Childrens)
                                            {
                                                <tr>
                                                    <td colspan="@(!string.IsNullOrEmpty(item.Note) ? '6' : '1')" style="padding-left: 60px;">
                                                        <i>@(item.Name)</i>
                                                        <i>@(!string.IsNullOrEmpty(item.Note) ? item.Note : "")</i>
                                                    </td>
                                                </tr>
                                                @foreach (var subjectDetail in item.SubjectGroupDetails)
                                                {
                                                    <tr>
                                                        <td style="padding-left: 100px;">@(subjectDetail.Subject.Code)</td>
                                                        <td>@(subjectDetail.Subject.Name)</td>
                                                        <td>@(subjectDetail.Subject.Unit)</td>
                                                        <td>@(subjectDetail.Subject.Condition)</td>
                                                        <td>@(subjectDetail.Subject.HoursStudy)</td>
                                                        <td>@(subjectDetail.Subject.Coefficient)</td>
                                                    </tr>
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </abp-modal-body>
</abp-modal>
