@page
@model Tlu.CurriculumManager.Web.Pages.Curriculums.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@inject IHtmlLocalizer<CurriculumManagerResource> L

@section scripts {
    <script>
        var allMajors = @Html.Raw(ViewData["allMajors"]);
        var allSchoolYears = @Html.Raw(ViewData["allSchoolYears"]);
    </script>
    <abp-script-bundle>
        <abp-script src="/Pages/Curriculums/index.js" />
    </abp-script-bundle>
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Curriculums/index.css" />
    </abp-style-bundle>
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <h4>@L["Curriculums"]</h4>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewCurriculumButton" text="@L["New"].Value" icon="plus" button-type="Dark" />
                @*<abp-button id="NewSubjectGroupButton" text="Thêm NKT" icon="plus" button-type="Dark" />*@
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <table class="table table-striped table-bordered" id="CurriculumsTable">
            <thead>
                <tr>
                    <th>@L["ID"]</th>
                    <th>@L["Name"]</th>
                    <th>@L["Major"]</th>
                    <th>@L["SchoolYear"]</th>
                    <th>@L["ApproveStatus"]</th>
                    <th>@L["Command"]</th>
                </tr>
            </thead>
        </table>
    </abp-card-body>
</abp-card>
