@page
@model Tlu.CurriculumManager.Web.Pages.SubjectGroupDetails.AddToGroupModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Tlu.CurriculumManager.Localization
@inject IHtmlLocalizer<CurriculumManagerResource> L

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/SubjectGroupDetails/addToGroup.js" />
    </abp-script-bundle>
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/SubjectGroupDetails/index.css" />
    </abp-style-bundle>
}

<abp-card>
    <abp-card-header></abp-card-header>
    <abp-card-body>
        <abp-row style="padding-bottom: 15px;">
            <abp-column size-md="_4" style="padding-top: 15px;">
                <select id="selectCurriculum" class="form-control" data-bind="options: curriculums, optionsText: 'name', optionsValue: 'id', value: selectedCurriculum"></select>
            </abp-column>
            <abp-column size-md="_3" style="padding-top: 15px;">
                <select id="selectSubjectGroup" class="form-control" data-bind="options: subjectGroups, optionsText: 'name', optionsValue: 'id', value: selectedSubjectGroup"></select>
            </abp-column>
        </abp-row>
        <abp-row>
            <abp-column size-md="_6" id="column_left">
                <h5>Danh sách học phần</h5>
                <table class="table table-striped table-bordered" id="SubjectsTable">
                    <thead>
                        <tr>
                            <th>@L["Code"]</th>
                            <th>@L["Name"]</th>
                            <th>@L["Command"]</th>
                        </tr>
                    </thead>
                </table>
            </abp-column>
            <abp-column size-md="_6" id="column_right">
                <h5>Danh sách học phần đã chọn</h5>
                <table class="table table-striped table-bordered" id="ChosensTable">
                    <thead>
                        <tr>
                            <th>@L["Code"]</th>
                            <th>@L["Name"]</th>
                            <th>@L["Command"]</th>
                        </tr>
                    </thead>
                </table>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>